@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  padding: 3rem 5rem;
  background-color: hsl(210, 46%, 95%);
}

section {
  /* border: 1px solid red; */
  width: 100%;
  margin: 6rem auto;
  border-radius: 20px;
  background-color: white;
}

.drawer {
  display: flex;
}

.drawer img {
  width: 50%;
  height: 400px;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2rem;
}

h3 {
  color: hsl(217, 19%, 35%);
  margin-top: 30px;
}

p {
  color: hsl(212, 23%, 69%);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

}



.mic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mic-1 img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.mic-1 {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.mic-1 span {
  display: block;
  color: hsl(212, 23%, 69%);
  font-weight: 300;
  margin-top: 7px;
}

.mic-1 h4 {
  font-weight: 300;
  font-size: 20px;
  color: hsl(214, 17%, 51%);
  font-size: 18px;
  font-weight: 700;
}

.share-icon img {
  border-radius: 100%;
  /* border: 1px red solid; */
  /* color: white; */
  background-color: hsl(216, 3%, 62%);
  width: 25px;
  height: 25px;
  object-fit: cover;
  padding: 7px;

}

.share-icon {
  position: relative;
}

.icons-div {
  position: absolute;
  top: -180%;
  right: -170%;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7px 15px;
  column-gap: 20px;
  /* display: none; */
}

.icons-div img {
  width: 15px;
  height: 15px;
  object-fit: cover;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}







/* MOBILE DESIGN */
@media (max-width: 768px) {

  body {
    padding: 1rem 1rem;
  }

  section {
    /* padding: 1rem; */
  }

  /* .mic-1 */
  .drawer {
    flex-direction: column;
  }

  .drawer img {
    /* height: 400px; */
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
  }

  .container {
    width: 90%;
    padding: 0 1rem;
    row-gap: 25px;
    padding: 1rem 1rem;
  }

  .mic {
    flex-direction: row;
    column-gap: 20px;
    align-items: end;
  }

  .mic h4 {
    font-size: 16px;
  }

  .mic-1 {
    /* flex-direction: row; */
  }

  .mic-1 span {
    font-size: 13px;
  }

  .mic-1 img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }

  .share-icon img {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    object-fit: cover;
    /* padding: 7px; */

  }

  .icons-div {
    display: none;
  }
}